  <div class="container">

    <div id="aboutPanel" class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">About NewsScraper</div>
        <div class="panel-body">
        	<h3>Developed and designed by: Vit Benton</h3>
        	<h3>Powered by: TheOnion.com</h3>
        	<hr>
        	<h4>Technologies Used:</h4>
            <ul>
            	<li>Node.Js</li>
            	<li>Express</li>
            	<li>Express-handlebars</li>
            	<li>MongoDB</li>
            	<li>Mongoose</li>
            	<li>Cheerio</li>
            	<li>Axios</li>
            	<li>Bootstrap</li>
            </ul>
        </div>

    </div>
  </div>
