<div class="container">


{{#each dbArticle}}
  <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{this.headline}}</div>
      <div class="panel-body">
          <p>{{this.summary}}</p>
      </div>
      <!-- List group -->
      <ul class="list-group">
        {{#each dbArticle.comments}}
          <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
  </div>

  </div>
  {{/each}}
